name: Upload Artifact

on:
  push:
    branches: [ main ]

# OIDCトークンを発行するための権限設定
permissions:
  contents: read
  id-token: write

jobs:
  upload-artifact:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    # 2. Google Cloudへの認証 (Workload Identity 連携)
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v2'
      with:
        # ここにWorkload Identity プールのプロバイダIDを記述
        workload_identity_provider: 'projects/145768118931/locations/global/workloadIdentityPools/github-actions-pool/providers/github-actions-provider'
        # 権限を借用するサービスアカウントのメールアドレス
        service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
        create_credentials_file: true

    # 4. rcloneをセットアップ
    - name: Setup rclone
      uses: AnimMouse/setup-rclone@v1

    # 5. rcloneを使ってGoogle Driveにアップロード
    - name: Upload file to Google Drive via rclone
      run: |
        export RCLONE_CONFIG_GDRIVE_TYPE=drive
        export RCLONE_CONFIG_GDRIVE_SCOPE=drive
        export RCLONE_CONFIG_GDRIVE_SERVICE_ACCOUNT_FILE=${{ steps.auth.outputs.credentials_file_path }}
        export RCLONE_CONFIG_GDRIVE_ROOT_FOLDER_ID=${{ secrets.GOOGLE_DRIVE_FOLDER_ID }}
        DATETIME=$(date +'%Y-%m-%d_%H-%M-%S')
        rclone copyto ./target/aarch64-unknown-linux-gnu/debug/tsukimi-speaker gdrive:${DATETIME}_tsukimi-speaker --drive-impersonate ${{ secrets.GCP_SERVICE_ACCOUNT }} --verbose
