name: BUILD

on:
  push:
    branches: [ main ]

# OIDCトークンを発行するための権限設定
permissions:
  contents: read
  id-token: write

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Cache apt packages
      id: cache-apt
      uses: actions/cache@v3
      with:
        path: |
          /var/cache/apt/archives
          /var/lib/apt/lists
        key: ${{ runner.os }}-apt-${{ hashFiles('.github/workflows/build.yml') }}
        restore-keys: |
          ${{ runner.os }}-apt-

    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: aarch64-unknown-linux-gnu
        override: true

    - name: Cache cargo dependencies
      uses: swatinem/rust-cache@v2

    - name: Install dependencies
      run: |
        sudo dpkg --add-architecture arm64
        sudo apt-get update
        sudo apt-get install -y pkg-config crossbuild-essential-arm64 libdbus-1-dev:arm64 libgstreamer1.0-dev:arm64 libgstreamer-plugins-base1.0-dev:arm64 libglib2.0-dev:arm64 libasound2-dev:arm64

    - name: Build
      run: cargo build --target aarch64-unknown-linux-gnu
      env:
        PKG_CONFIG_ALLOW_CROSS: 1
        CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc

    # 2. Google Cloudへの認証 (Workload Identity 連携)
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v2'
      with:
        # ここにWorkload Identity プールのプロバイダIDを記述
        workload_identity_provider: 'projects/145768118931/locations/global/workloadIdentityPools/github-actions-pool/providers/github-actions-provider'
        # 権限を借用するサービスアカウントのメールアドレス
        service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

    # 4. rcloneをセットアップ
    - name: Setup rclone
      uses: AnimMouse/setup-rclone@v1

    # 5. rcloneを使ってGoogle Driveにアップロード
    - name: Upload files to Google Drive via rclone
      # rcloneの設定を環境変数で行う
      # 認証情報は google-github-actions/auth が自動で設定してくれる
      # アップロードを実行
      # "gdrive:" はrcloneの設定名
      # --drive-impersonate は、サービスアカウントがユーザーの代理として動作するために必要
      run: |
        export RCLONE_CONFIG_GDRIVE_TYPE=drive
        export RCLONE_CONFIG_GDRIVE_SCOPE=drive
        export RCLONE_CONFIG_GDRIVE_SERVICE_ACCOUNT_FILE=/tmp/gcp_creds.json
        export RCLONE_CONFIG_GDRIVE_ROOT_FOLDER_ID=${{ secrets.GOOGLE_DRIVE_FOLDER_ID }}
        rclone copy ./target/aarch64-unknown-linux-gnu/debug/tsukimi-speaker gdrive: --drive-impersonate ${{ secrets.GCP_SERVICE_ACCOUNT }} --verbose